.embla {
  max-width: 1400px;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 2rem;
  --slide-size: 50%;
}

@media (max-width: 1450px) {
  .embla {
    max-width: 100%;
    padding-inline: 4rem;
  }
}

@media (max-width: 800px) {
  .embla {
    max-width: 100%;
    --slide-size: 100%;
    padding-inline: 0rem;
    --slide-spacing: 0rem;
  }
}

.embla__viewport {
  overflow-x: hidden;
  overflow-y: visible;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
